{% extends '@ezdesign/pagelayout.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{ encore_entry_link_tags('welcome_page') }}
{% endblock %}

{% block content %}
    <div class="container-fluid container--wide">
        <div class="row">
            <div class="col-2">
                <div class="py-4">
                    <a href="{{ path('custom_search') }}">
                        <img src="{{ asset('bundles/ezplatformadminui/img/ibexa-logo.svg') }}" alt="Ibexa" class="logo" />
                    </a>
                </div>
            </div>

            <div class="col-10">
                <div class="py-4">
                    <form action="{{ path('custom_search') }}" method="GET" class="form-inline">
                        <div class="input-group mb-3">
                            <input type="search" name="query" class="input"
                                   value="{{ app.request.query.get('query') }}"/>

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-3">
                {% if results.aggregations.isEmpty() %}
                    <p>Search engine doesn't support aggregations :-(</p>
                {% else %}
                    {% include '@ezdesign/search/_facets.html.twig' %}
                {% endif %}
            </div>

            <div class="col-9">
                <p class="text-right">Total count: {{ results.totalCount }}</p>

                {% for hit in results %}
                    <li class="list-group-item">
                        {% set content = hit.valueObject %}
                        {% set index = app.request.get('offset', 0) + loop.index %}

                        <a href="{{ ez_path(content) }}">
                            {{ index }}. <string>{{ ez_content_name(content) }}</string>
                        </a>

                        <p style="font-size: 14px !important;" class="mt-2">
                            Content type: {{ content.getContentType().getName() }} &bull;
                            Created at {{ content.versionInfo.creationDate | date }}
                        </p>
                    </li>
                {% endfor %}

                <p class="text-right mt-4">
                    {% set offset = app.request.get('offset', 0) %}

                    {% if offset >= 10 %}
                        <a href="{{ path('custom_search', { offset: app.request.get('offset') - 10 }) }}">
                            &larr;
                            Previous page
                        </a>

                        &nbsp;&bull;&nbsp;
                    {% endif %}

                    <a href="{{ path('custom_search', { offset: app.request.get('offset') + 10 }) }}">
                        Next page
                        &rarr;
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
